@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scanline {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100vh); }
}

@keyframes flicker {
  0%   { opacity: 0.98; }
  5%   { opacity: 0.85; }
  10%  { opacity: 0.98; }
  15%  { opacity: 1; }
  50%  { opacity: 0.98; }
  100% { opacity: 1; }
}

@keyframes crt-print {
  0% { clip-path: inset(0 0 100% 0); }
  100% { clip-path: inset(0 0 0 0); }
}

.terminal-print {
  animation: crt-print 0.35s steps(30, end) forwards;
}

.crt-vignette {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.9), inset 0 0 30px rgba(10, 28, 10, 0.8);
}

.scanline-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(74, 222, 128, 0.15), rgba(0,0,0,0));
  animation: scanline 8s linear infinite;
  pointer-events: none; 
  z-index: 50;
}

.crt-flicker {
  animation: flicker 4s infinite;
}

@font-face {
  font-family: 'Monofonto';
  src: url('./assets/fonts/monofonto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #051105; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --crt-red: rgba(218, 49, 49, 0.15);
  --crt-green: rgba(112, 159, 115, 0.15);
  --crt-blue: rgba(40, 129, 206, 0.15);
}

.crt-overlay {
  position: relative;
}

.crt-overlay::before,
.crt-overlay::after {
  content: "";
  transform: translateZ(0);
  pointer-events: none;
  mix-blend-mode: overlay;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50; 
}

.crt-overlay::before {
  background: repeating-linear-gradient(
    var(--crt-red) 0px,
    var(--crt-green) 2px,
    var(--crt-blue) 4px
  );
}

.crt-overlay::after {
  background: repeating-linear-gradient(
    90deg,
    var(--crt-red) 1px,
    var(--crt-green) 2px,
    var(--crt-blue) 3px
  );
}

.terminal-bg {
  background-color: #051105; 
  background-image:
    radial-gradient(circle at center, transparent 20%, #000 100%),
    linear-gradient(rgba(0, 238, 0, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(37, 150, 190, 0.08) 1px, transparent 1px);
  
  background-size: 100% 100%, 40px 40px, 40px 40px;
  background-position: center center;
}

.pip-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #008e00 transparent;
}

.pip-scrollbar::-webkit-scrollbar {
  width: 10px; 
}

.pip-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
  border-left: 1px solid rgba(37, 150, 190, 0.2); 
}

.pip-scrollbar::-webkit-scrollbar-thumb {
  background: #008e00; 
  border-radius: 0px; 
}

.pip-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #008e00; 
}